<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <%= form.label :word, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :word, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :kind, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.select :kind, enum_select(Word, :kind), {}, class: 'form-control' %>
    </div>
  </div>
  <%= form.submit t('actions.submit'), class: 'btn btn-success' %>
<% end %>
