<div class="row mt-2 justify-content-between">
  <div class="col-2">
    <%= link_to 'New Word', new_word_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-4">
    <div class="btn-group btn-group float-right">
      <%= link_to 'Рыбы', words_path(kind: :fish), class: 'btn btn-info' %>
      <%= link_to 'Прилагательные', words_path(kind: :adj), class: 'btn btn-info' %>
      <%= link_to 'Все', words_path,  class: 'btn btn-info' %>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <table class="table table-sm table-striped">
      <tbody>
        <% @words.each do |word| %>
          <tr>
            <td><%= word.word %></td>
            <td>
              <%= word.used%>
            </td>
            <td>
              <div class="btn-group btn-group-sm float-right">
                <%= link_to 'Edit', edit_word_path(word), class: 'btn btn-info' %>
                <%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
