<p id="notice"><%= notice %></p>

<h1>Words</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td>
          <%= word.used%>
        </td>
        <td>
          <div class="btn-group  btn-group-sm">
            <%= link_to 'Edit', edit_word_path(word), class: 'btn btn-info' %>
            <%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
