<div class="row mt-2">
  <div class="col">
    <%= link_to t('actions.new'), new_photo_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row mt-2">
  <% @photos.each do |photo| %>
    <div class="col-4">
       <%= image_tag(photo.image_url, class: 'img-fluid') %>
    </div>
    <div class="col-2">
      <%= photo.tags.join(', ') %>
    </div>
    <div class="col-2">
      <%= photo.used %>
    </div>
    <div class="col-4">
      <div class="btn-group  btn-group-sm">
        <% if photo.active? %>
          <%= link_to t('actions.deactivate'), deactivate_photo_path(photo), class: 'btn btn-danger', method: :post %>
        <% else %>
          <%= link_to t('actions.activate'), activate_photo_path(photo), class: 'btn btn-success', method: :post %>
        <% end %>
        <%= link_to t('actions.destroy'), photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>

