<p id="notice"><%= notice %></p>
<div class="well">
  <%= image_tag(@photo.image_url) %>
</div>
<ul>
  <%- @photo.tags.each do |tag| %>
    <%= content_tag(:li, tag) %>
  <%- end %>
</ul>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
